//项目提供scss全局变量
//定义项目主题颜色

// 左侧的菜单宽度
$base-menu-width: 260px;
// 左侧菜单背景颜色
$base-slider-bg-color: #001529;
// 左侧的菜单最小宽度
$base-menu-min-width: 60px;
//左侧菜单logo高度设置
$base-menu-logo-height: 50px;
// 左侧菜单logo旁文字大小
$base-menu-logo-title-fontsize: 26px;



// 顶部导航高度
$base-tabbar-height: 50px;
// 顶部导航背景颜色
$base-tabbar-bg-color: #6d4575;
// 主要内容区域背景颜色
$layout-main-bg-color: var(--el-bg-color-page);